<div class="page-wrapper">
    

    <main class="main">
        <div class="intro-slider-container mb-0">
            <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                data-owl-options='{"nav": false, "dots": false}'>
                <!-- assets/images/demos/demo-5/slider/slide-1.jpg -->
                <% banners.forEach(banner=>{ %> 
                <div class="intro-slide" style="background-image: url(assets/banner-images/<%= banner.image[0]%>);">
                    <div class="container intro-content text-center">
                        <h3 class="intro-subtitle text-white"><%= banner.subtitle  %> </h3><!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title text-white"><%= banner.title  %> </h1><!-- End .intro-title -->
                        <div class="intro-text text-white"><%= banner.offer  %>% OFF </div><!-- End .intro-text -->
                        <a href="/shop?<%= banner.url %> " class="btn btn-primary">Discover NOW</a>
                    </div><!-- End .intro-content -->
                </div><!-- End .intro-slide -->
                <% }) %> 
                

                
            </div><!-- End .intro-slider owl-carousel owl-theme -->

            <span class="slider-loader text-white"></span><!-- End .slider-loader -->
        </div><!-- End .intro-slider-container -->

        <div class="brands-border owl-carousel owl-simple mb-5" data-toggle="owl" data-owl-options='{
                    "nav": false, 
                    "dots": false,
                    "margin": 0,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "420": {
                            "items":3
                        },
                        "600": {
                            "items":4
                        },
                        "900": {
                            "items":5
                        },
                        "1024": {
                            "items":6
                        },
                        "1360": {
                            "items":7
                        }
                    }
                }'>
            <a href="#" class="brand">
                <img src="assets/images/brands/1.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="assets/images/brands/2.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="assets/images/brands/3.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="assets/images/brands/4.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="assets/images/brands/5.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="assets/images/brands/6.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="assets/images/brands/7.png" alt="Brand Name">
            </a>
        </div><!-- End .owl-carousel -->

        <div class="container">
            <div class="banner-group">
                <div class="row">
                    <!-- <div class="col-md-6">
                        <div class="banner banner-border">
                            <a href="#">
                                <img src="/assets/images/demos/demo-5/banners/banner-1.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle"><a href="#">Trending now</a></h4>
           
                                <h3 class="banner-title"><a href="#"><span>This Week's<br>Most Wanted</span></a></h3>
                        
                                <a href="#" class="btn btn-outline-primary-2 banner-link">Discover Now<i
                                        class="icon-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div> -->
                    <% subBanners.forEach(subBanner=>{%> 
                        
                    <div class="col-md-6">
                        <div class="banner banner-border-hover">
                            <a href="#">
                                <img style=" height: 300px;" src="assets/banner-images/<%= subBanner?.image[0]%>" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle"><a href="#"><%= subBanner?.title  %> .</a></h4>
                                <!-- End .banner-subtitle -->
                                <h3 class="banner-title"><a href="#"><span><%= subBanner?.subtitle  %> </span></a></h3>
                                <a href="shop?<%= subBanner?.url  %>  " class="btn btn-outline-primary-2 banner-link">Shop Now<i
                                        class="icon-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!-- End .col-md-6 -->
                
                    <% }) %> 

                </div><!-- End .row -->
            </div><!-- End .banner-group -->
        </div><!-- End .container -->

        <div class="mb-4"></div><!-- End .mb-6 -->

        <div class="container">
            <div class="heading heading-center mb-3">
                <h2 class="title">Trendy Products</h2><!-- End .title -->

                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="trendy-all-link" data-toggle="tab" href="#trendy-all-tab"
                            role="tab" aria-controls="trendy-all-tab" aria-selected="true">All</a>
                    </li>
                    <!-- <li  class="nav-item">
                        <a  class="nav-link" id="trendy-women-link" data-toggle="tab" href="#trendy-women-tab" role="tab"
                            aria-controls="trendy-women-tab" aria-selected="false">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="trendy-men-link" data-toggle="tab" href="#trendy-men-tab" role="tab"
                            aria-controls="trendy-men-tab" aria-selected="false">Men</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="trendy-access-link" data-toggle="tab" href="#trendy-access-tab"
                            role="tab" aria-controls="trendy-access-tab" aria-selected="false">Accessories</a>
                    </li> -->
                </ul>
            </div><!-- End .heading -->

            <div class="tab-content tab-content-carousel">
                <div class="tab-pane p-0 fade show active" id="trendy-all-tab" role="tabpanel"
                    aria-labelledby="trendy-all-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                        
                       

<!-- this is my -->
<% products.forEach(product=>{ %> 
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="single-product/<%= product._id  %>">
                                    <img src="/product-images/<%= product.img[0]  %> " alt="Product image"
                                        class="product-image">
                                    <img src="/product-images/<%= product.img[1]  %> " alt="Product image"
                                        class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                                        title="Add to wishlist"><span>add to wishlist</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action product-action-transparent">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Shoes</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="shop/<%= product._id  %> ">Sandals</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">Now ₹<%= product.offerPrice  %> </span>
                                    <span class="old-price">Was ₹<%= product.price  %> </span>
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                    <%})%>
<!-- this is my end-->


                       
                    
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane p-0 fade" id="trendy-women-tab" role="tabpanel"
                    aria-labelledby="trendy-women-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane p-0 fade" id="trendy-men-tab" role="tabpanel" aria-labelledby="trendy-men-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane p-0 fade" id="trendy-access-tab" role="tabpanel"
                    aria-labelledby="trendy-access-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->
        </div><!-- End .container -->

        <div class="mb-5"></div><!-- End .mb-5 -->

        <div class="video-banner video-banner-bg bg-image text-center"
            style="background-image: url(assets/images/demos/demo-5/bg-2.jpg)">
            <div class="container">
                <h3 class="video-banner-title h1 text-white"><span>New Collection</span><strong>Winter’19 <i>/</i>
                        Spring’20</strong></h3><!-- End .video-banner-title -->
                <a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i
                        class="icon-play"></i></a>
            </div><!-- End .container -->
        </div><!-- End .video-banner bg-image -->

        <div class="pt-6 pb-6" style="background-color: #fff;">
            <div class="container">
                <div class="banner-set">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-set-content text-center">
                                <div class="set-content-wrapper">
                                    <h4>Special</h4>
                                    <h2>Refine Your Style.</h2>

                                    <p>Get on our exclusive email list and be the first to hear about sales, coupons,
                                        new arrivals and more! </p>

                                    <div class="banner-set-products">
                                        <div class="row">
                                            <div class="products">
                                                <div class="col-6">
                                                    <div class="product product-2 text-center">
                                                        <figure class="product-media">
                                                            <a href="product.html">
                                                                <img src="assets/images/demos/demo-5/products/product-13.jpg"
                                                                    alt="Product image" class="product-image">
                                                            </a>
                                                        </figure><!-- End .product-media -->

                                                        <div class="product-body">
                                                            <h3 class="product-title"><a href="product.html">Rib-knit
                                                                    cardigan</a></h3><!-- End .product-title -->
                                                            <div class="product-price">
                                                                $24.99
                                                            </div><!-- End .product-price -->
                                                        </div><!-- End .product-body -->
                                                    </div><!-- End .product -->
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-6">
                                                    <div class="product product-2 text-center">
                                                        <figure class="product-media">
                                                            <a href="product.html">
                                                                <img src="assets/images/demos/demo-5/products/product-14.jpg"
                                                                    alt="Product image" class="product-image">
                                                            </a>
                                                        </figure><!-- End .product-media -->

                                                        <div class="product-body">
                                                            <h3 class="product-title"><a href="product.html">Linen-blend
                                                                    trousers</a></h3><!-- End .product-title -->
                                                            <div class="product-price">
                                                                $19.99
                                                            </div><!-- End .product-price -->
                                                        </div><!-- End .product-body -->
                                                    </div><!-- End .product -->
                                                </div><!-- End .col-sm-6 -->
                                            </div>
                                        </div><!-- End .row -->
                                    </div><!-- End .banner-set-products -->
                                </div><!-- End .set-content-wrapper -->
                            </div><!-- End .banner-set-content -->
                        </div><!-- End .col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="banner-set-image banner-border-hover">
                                <a href="#">
                                    <img src="assets/images/demos/demo-5/banners/banner-4.jpg" alt="banner">
                                </a>
                                <div class="banner-content">
                                    <h3 class="banner-title"><a href="#"><span>Casual basics and<br>trendy key
                                                pieces.</span></a></h3><!-- End .banner-title -->
                                    <h4 class="banner-subtitle">in this look</h4>
                                    <!-- End .banner-subtitle -->
                                    <h4 class="banner-detail">• Rib-knit cardigan <br>• Linen-blend paper bag trousers
                                    </h4>
                                    <h4 class="banner-price">$19.99 - $48.00</h4>
                                    <a href="#" class="btn btn-outline-primary-2 banner-link">buy all</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner-set-image -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .banner-set -->
            </div><!-- End .container -->
        </div><!-- End .bg-lighter pt6 pb-6 -->

        

        <div class="mb-2"></div><!-- End .mb-2 -->

       

        

    
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
                required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active">
                    <a href="index.html">Home</a>

                    <ul>
                        <li><a href="index-1.html">01 - furniture store</a></li>
                        <li><a href="index-2.html">02 - furniture store</a></li>
                        <li><a href="index-3.html">03 - electronic store</a></li>
                        <li><a href="index-4.html">04 - electronic store</a></li>
                        <li><a href="index-5.html">05 - fashion store</a></li>
                        <li><a href="index-6.html">06 - fashion store</a></li>
                        <li><a href="index-7.html">07 - fashion store</a></li>
                        <li><a href="index-8.html">08 - fashion store</a></li>
                        <li><a href="index-9.html">09 - fashion store</a></li>
                        <li><a href="index-10.html">10 - shoes store</a></li>
                        <li><a href="index-11.html">11 - furniture simple store</a></li>
                        <li><a href="index-12.html">12 - fashion simple store</a></li>
                        <li><a href="index-13.html">13 - market</a></li>
                        <li><a href="index-14.html">14 - market fullwidth</a></li>
                        <li><a href="index-15.html">15 - lookbook 1</a></li>
                        <li><a href="index-16.html">16 - lookbook 2</a></li>
                        <li><a href="index-17.html">17 - fashion store</a></li>
                        <li><a href="index-18.html">18 - fashion store (with sidebar)</a></li>
                        <li><a href="index-19.html">19 - games store</a></li>
                        <li><a href="index-20.html">20 - book store</a></li>
                        <li><a href="index-21.html">21 - sport store</a></li>
                        <li><a href="index-22.html">22 - tools store</a></li>
                        <li><a href="index-23.html">23 - fashion left navigation store</a></li>
                        <li><a href="index-24.html">24 - extreme sport store</a></li>
                    </ul>
                </li>
                <li>
                    <a href="category.html">Shop</a>
                    <ul>
                        <li><a href="category-list.html">Shop List</a></li>
                        <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                        <li><a href="category.html">Shop Grid 3 Columns</a></li>
                        <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                        <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span
                                        class="tip tip-hot">Hot</span></span></a></li>
                        <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                        <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                        <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span
                                        class="tip tip-new">New</span></span></a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                        <li><a href="#">Lookbook</a></li>
                    </ul>
                </li>
                <li>
                    <a href="product.html" class="sf-with-ul">Product</a>
                    <ul>
                        <li><a href="product.html">Default</a></li>
                        <li><a href="product-centered.html">Centered</a></li>
                        <li><a href="product-extended.html"><span>Extended Info<span
                                        class="tip tip-new">New</span></span></a></li>
                        <li><a href="product-gallery.html">Gallery</a></li>
                        <li><a href="product-sticky.html">Sticky Info</a></li>
                        <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                        <li><a href="product-fullwidth.html">Full Width</a></li>
                        <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Pages</a>
                    <ul>
                        <li>
                            <a href="about.html">About</a>

                            <ul>
                                <li><a href="about.html">About 01</a></li>
                                <li><a href="about-2.html">About 02</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>

                            <ul>
                                <li><a href="contact.html">Contact 01</a></li>
                                <li><a href="contact-2.html">Contact 02</a></li>
                            </ul>
                        </li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="faq.html">FAQs</a></li>
                        <li><a href="404.html">Error 404</a></li>
                        <li><a href="coming-soon.html">Coming Soon</a></li>
                    </ul>
                </li>
                <li>
                    <a href="blog.html">Blog</a>

                    <ul>
                        <li><a href="blog.html">Classic</a></li>
                        <li><a href="blog-listing.html">Listing</a></li>
                        <li>
                            <a href="#">Grid</a>
                            <ul>
                                <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Masonry</a>
                            <ul>
                                <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Mask</a>
                            <ul>
                                <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Single Post</a>
                            <ul>
                                <li><a href="single.html">Default with sidebar</a></li>
                                <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="elements-list.html">Elements</a>
                    <ul>
                        <li><a href="elements-products.html">Products</a></li>
                        <li><a href="elements-typography.html">Typography</a></li>
                        <li><a href="elements-titles.html">Titles</a></li>
                        <li><a href="elements-banners.html">Banners</a></li>
                        <li><a href="elements-product-category.html">Product Category</a></li>
                        <li><a href="elements-video-banners.html">Video Banners</a></li>
                        <li><a href="elements-buttons.html">Buttons</a></li>
                        <li><a href="elements-accordions.html">Accordions</a></li>
                        <li><a href="elements-tabs.html">Tabs</a></li>
                        <li><a href="elements-testimonials.html">Testimonials</a></li>
                        <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                        <li><a href="elements-portfolio.html">Portfolio</a></li>
                        <li><a href="elements-cta.html">Call to Action</a></li>
                        <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                    </ul>
                </li>
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->